<section class="full-bleed-section"> 
  <div class="full-bleed">
  </div> 
  <div class="row top">
    <div class="col-xs-12">
      <strong>Happy birthday Patricia!</strong>
    </div>
  </div>
  <div class="row middle">
    <div class="col-xs-12">
      <strong>You are... </strong>
      <div id="description"></div>
      <strong>and we wish you all the best!</strong>
    </div>
  </div>
  <div class="row bottom">
    <div class="col-xs-12">
      <strong>  
        Made with <span class="glyphicon glyphicon-heart" style="color:#E42320"></span> by your best friends
      </strong> 
    </div>
  </div> 
</section> 
