<section class="full-bleed-section"> 
  <div class="full-bleed"></div>
  <div class="row top">
    <strong>Happy Birthday, Patricia!</strong>
    <p class="description">
      <strong>We were each asked to provide two adjectives and a noun to describe you, and came up with the following responses.</strong>
    </p>
  </div>
  <div class="row middle">
    <strong>You are... </strong>
    <div id="description"></div>
    <strong>and we wish you all the best!</strong>
  </div>
  <div class="row bottom">
    <strong>  
      Made with <span class="fa fa-heart" style="color:#E42320"></span> by your best friends
    </strong> 
  </div> 
</section> 
