<section class="full-bleed-section"> 
  <div class="full-bleed">
  </div> 
  <div class="container-fluid"> 
    <div class="row top">
      <div class="col-xs-12">
        <h1>Happy birthday Patricia!</h1>
      </div>
    </div>
    <div class="row middle">
      <div class="col-xs-12">
        <h1>You are... </h1>
        <span id="description"></span>
      </div>
    </div>
    <div class="row bottom">
      <div class="col-xs-12">
        <p>  
        Made with <span class="glyphicon glyphicon-heart" style="color:#E42320"></span> by your best friends!
        </p> 
      </div>
    </div>
  </div> 
</section> 
